*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body{
    font-family: Helvetica, Arial, sans-serif;
    background-color: #f2f4f7;
    color: #1c1e21;
}

main{
    height: 100vh;
    width: 100vw;
    position:relative;
    margin: 0 auto;
}

footer{
    height: 20vh;
    background-color: #ffffff;
}

.row{
    display:flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform:translate(-50%, -50%);
}

.col-logo{
    flex:0 0 50%;
    text-align: left;
    height: 300px;
}
.col-logo img{
    max-width: 300px;
}

.col-logo h2{
    font: 24px;
    font-weight: 400;
    padding: 0 30px;
    line-height: 28px;
}

.col-form{
    flex: 0 0 40%;
    text-align: center;
}
.col-form .form-container{
    background-color: #ffffff;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1), 0 8px 16px rgba(0,0,0,0.1);
    margin-bottom: 30px;
    padding: 20px;
    max-width:400px;
}
.col-form .form-container input, .col-form .form-container .btn-login{
    width:100%;
    margin: 5px 0;
    vertical-align: middle;
    font-size: 17px 
}
.col-form .form-container input{
    height: 52px;
    border: 1px solid #dddfe2;
    padding: 14px 16px;
    outline: none;
    border-radius: 6px;
}
.col-form .form-container input:focus{
    border-color: #1877f2;
    box-shadow: 0 0 0 2px #e7f3ff;
}

.col-form .form-container .btn-login{
    height: 48px;
    background-color: #0866ff;
    color: #ffffff;
    padding: 0 16px;
    font-size: 20px;
    border: none;
    border-radius: 6px;
    font-weight: 700;
}

.col-form .form-container a{
    display: block;
    color: #0866ff;
    font-size: 14px;
    text-decoration: none;
    padding: 10px 0 20px;
    border-bottom: solid 1px #dadde1;
}
.col-form .form-container a:hover{
    text-decoration: underline;
}

.col-form .form-container .btn-new{
    background-color: #42b72a;
    color: #ffffff;
    border: none;
    border-radius: 6px;
    padding: 0 16px;
    height: 48px;
    font-size: 17px;
    font-weight: 700;
    margin-top: 20px;
}

.col-form p{
    font-size: 14px;
    
}
.col-form p a{
    color:#1c1e21;
    text-decoration: none;
    font-weight: 600;    
}
.col-form p a:hover{
    text-decoration: underline;
}

.footer-contents{
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 20px;
}
footer ol{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 10px 0; 
}
footer ol:first-child{
    border-bottom: 1px solid #dddfe2;
}
footer ol button{
    background-color: #f5f6f7;
    border: 1px solid #ccd0d5;
    outline: none;
    color: #4b4f56;
    font-size: 16px;
    font-weight: 700;
    border-radius: 2px;
    padding: 0 8px;
}

footer ol li{
    padding-right: 15px;
    font-size: 12px;
    color: #8a8d91;
}
footer ol li a{
    text-decoration: none;
    color: #8a8d91;
}
footer ol li a:hover{
    text-decoration: underline;
}
footer small{
    font-size: 11px;
    color: #8a8d91;
}