* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial, sans-serif;
}

body {
    background-color: #fff;
    color: #262626;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 85vh;
    padding: 20px;
    gap: 60px;
}

.left {
    max-width: 450px;
}

.logo-icon {
    width: 50px;
    margin-bottom: 20px;
}

.left h1 {
    font-size: 36px;
    line-height: 1.2;
    font-weight: 700;
    margin-bottom: 30px;
}

.gradient {
    background: linear-gradient(45deg, #ff3c8d, #ff8a00);
    background-clip: text;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    color: transparent;
}

.photos {
    display: flex;
    justify-content: center; 
    align-items: center;     
    margin-top: 40px;
}

.photos img {
    width: 500px;   
    max-width: 100%;
    height: auto;

    border-radius: 20px;
    box-shadow: none; 
}

.photos .center {
    transform: none; 
}

.login-box {
    width: 350px;
    padding: 30px;
    text-align: center;
}

.login-title {
    font-size: 18px;
    margin-bottom: 25px;
    color: #262626;
}

input {
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    border: 1px solid #dbdbdb;
    border-radius: 8px;
    background: #fafafa;
    font-size: 14px;
}

.login-btn {
    width: 100%;
    padding: 10px;
    background-color: #0095f6;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    margin: 10px 0;
}

.forgot {
    display: block;
    font-size: 14px;
    color: #00376b;
    margin-bottom: 20px;
    text-decoration: none;
}

.divider {
    height: 1px;
    background-color: #dbdbdb;
    margin: 20px 0;
}

.facebook-btn {
    width: 100%;
    background: none;
    border: 1px solid #dbdbdb;
    padding: 10px;
    border-radius: 8px;
    color: #385185;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 10px;
}

.create-btn {
    width: 100%;
    background: none;
    border: 1px solid #dbdbdb;
    padding: 10px;
    border-radius: 8px;
    color: #0095f6;
    font-weight: 600;
    cursor: pointer;
}

.meta-logo {
    margin-top: 30px;
}

footer {
    padding: 20px;
    text-align: center;
}

.links {
    margin-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

footer .links a, 
footer small, 
.lang-select {
    color: #8e8e8e;
    font-size: 12px;
    text-decoration: none;
    cursor: pointer;
}

.footer-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.lang-select {
    border: none;
    background: none;
    outline: none;
    appearance: none; 
    -webkit-appearance: none;
    text-align: right;
}

.lang-select:hover {
    text-decoration: underline;
}